.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-left: 20px;
}

.App-header img {
  height: 10vmin;
  pointer-events: none;
}

.App-header h1 {
  margin-left: 20px;
}

.App-body {
  min-height: 60vh;
  padding: 20px;
  text-align: left;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: italic;
}